/* less/variables.less
@baseFontSize: 13px;
@baseLineHeight: 18px;
*/

h1 { font-size: 30px; line-height: 36px; }
h2 { font-size: 24px; line-height: 36px; }
h3 { font-size: 18px; line-height: 27px; }
h4 { font-size: 14px; line-height: 18px; }
h5 { font-size: 12px; line-height: 18px; }
h6 { font-size: 11px; line-height: 18px; }

h1 small { font-size: 18px; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 12px; }

body {
  /*overflow: hidden;*/
  /*font-family: "consolas";*/
}

#form-element .nav-tabs li.active a {
  border-color: transparent #ccc #ccc #ccc;
}
#form-element .nav-tabs i {
  background-image: url("/vendor/bootstrap-2.1.0/img/glyphicons-halflings.png") !important;
}
#form-element .nav-tabs li.active.preview a {
  background-color: ghostwhite;
}

#top-element {
  margin-bottom: 20px;
  min-width: 800px;
}

#content-element {
  margin-top: 60px;
}

.form-horizontal .control-group {
  margin-bottom: 10px;
}
.form-horizontal .form-actions {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-horizontal .control-label {
  width: 20px;
}
.form-horizontal .controls {
  margin-left: 30px;
}
.form-horizontal legend .btn {
  margin-bottom: 6px;
}

#form-comment {
  max-width: 100%;
  /*background: #FAFAFA;*/
}

.row-fluid [class*="span"] {
  min-height: 28px;
}

textarea {
  overflow-y: scroll;
}

legend {
  border-bottom: none;
  margin: 0;
  margin-bottom: 10px;
}
legend .pagination {
  font-size: 13px;
  margin: 0;
}

.post legend {
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
}
.post legend small {
  font-weight: normal;
  color: black;
}
.post legend .btn {
  margin-top: -4px;
}

.board .board-header {
  margin-bottom: 0;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 19px;
}
.board .board-header legend {
  margin-top: 0;
  margin-bottom: 0;
}

.board .board-body {
  background-color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.board .board-body .post-head {
  background-color: white;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 15px;
}


.board .board-body ul.thumbnails {
  margin: 0;
}
.board .board-body ul.thumbnails li {
  margin: 0 10px 0 0;
}
.board .board-body ul.thumbnails .caption {
  padding: 0;
}
.board .board-body ul.thumbnails .caption .filename {
  color: #08c;
  margin: 0;
}
.board .board-body ul.thumbnails .caption .metadata {
  margin: 0;
  font-style: italic;
}

ul.thumbnails a {
  padding: 0 !important;
  background-color: white;
}
ul.thumbnails div.caption {
  padding: 0 2px !important;
  background-color: #ddd;
}
ul.thumbnails img {
  padding: 2px !important;
}

.board .board-body .post-more {
  background-color: white;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 0;
}

.post.selected {
  border: 2px dotted #D14 !important;
}

.post legend {
  padding-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
}

.post {
  /*display: table;*/
}
.post ul.thumbnails {
  display: block;
}
.post div.comment {
  display: block;
}

.post div.comment p {
  /*display: block;*/
  padding: 0 8px 0 0;
}

.post div.comment pre {
  /*display: inline-block;*/
  background-color: inherit;
  border: none;
  border-radius: 0;
  border-left: 5px solid #ddd;
  padding: 0 10px;
  margin-left: 10px;
}

.post div.comment blockquote {
  /*display: inline-block;*/
  padding: 0 8px;
}

.board .board-body .post-tail {
  padding: 10px;
  margin-bottom: 15px;
  /*margin-left: 50px;*/
}

.form-horizontal .nav-tabs > li > a {
  padding: 5px 10px;
}

/*.board .board-body .thread {
  padding-bottom: 10px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #E3E3E3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}*/

.board-header legend {
  line-height: normal;
  padding-top: 0px;
  padding-bottom: 2px;
}

.board-header #board-title {
  margin: 0;
  padding: 0;
  height: 28px !important;
  line-height: 28px;
}
.board-header .pagination {
  height: 28px;
}
.board-header .pagination a, .board-header .pagination span {
  padding: 0 15px;
  line-height: 28px;
}
.board-header #user-password input {
  margin: 0;
}

.comment-textarea {
  height: 100%;
  max-width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: block !important;
}

#form-element > div {
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.comment-textarea:focus {
  border-color: #CCC;
}

.comment-preview {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: inline-block;
  float: none;
  background-color: ghostwhite;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
}

.CodeMirror {
  background-color: white;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;

  padding: 5px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 150px;
}

.syntax-github {
  font-family: "Bitstream Vera Sans Mono", Consolas, "Courier New", monospace;
  font-size: 12px;
  line-height: 1.4em;
}
.syntax-visualstudio {
  font-family: Consolas, Inconsolata, Monaco, monospace;
  font-size: 13px;
  line-height: normal;
}
.syntax-textmate {
  font-family: Monaco, Menlo, Consolas, "Lucida Console", "Courier New", monospace;
  font-size: 13px;
  line-height: 1.4em;
}
