extends pageLayout

block content
  // PAGE-NAVIGATION.
  include pageNavigation

  div#content-element.container-fluid
    div.row-fluid
      div#board-element.span12.board
        // BOARD-HEADER.
        include boardHeader

        // BOARD-THREAD-POSTS.
        div(data-bind="if: $root.currentThread()")
          include boardThreads

        // BOARD-FORMULAR.
        include boardFormular

        // BOARD-THREADS.
        div(data-bind="ifnot: $root.currentThread()")
          include boardThreads
